<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
>
  <title>{{ section.title }}</title>
</head>

<body>
    <header>
      <h1>{{ section.title }}</h1>
    </header>

  <main>
    {{ section.content | safe }}
  </main>

  <footer>
    &lt;html&gt; =
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>; 
    &lt;sh&gt; =
    <a href="https://www.mozilla.org/en-US/MPL/">MPL-2.0</a>
  </footer>

</body>

</html>
