<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="{{section.title}}">
  <meta property="og:description" content="Upload websites to cloudflare pages without massive javascript bundles!">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alvaromontoro/almond.css@latest/dist/almond.lite.min.css" />
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="alternate"  type="application/json+oembed" href="https://shellflare.sohamg.xyz/embed.json" />

  <title>{{ section.title }}</title>
</head>

<body>
    <header>
      <h1>{{ section.title }}</h1>
    </header>

  <main>
    {{ section.content | safe }}
  </main>

  <footer>
    &lt;html&gt; =
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>
    &amp;&amp; 
    &lt;sh&gt; =
    <a href="https://www.mozilla.org/en-US/MPL/">MPL-2.0</a>
  </footer>

</body>

</html>
